h1>Leetspeak</h1>

<p>Submit your words and it will magically turns to number!</p>


<form action='/detector' method='get'>
  <div class="form-group">
    <label for="Words">Words</label>
    <input id="Words" name="Words" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Here it is?</button>
</form>
